<!--Шаблон страницы просмотра записи-->

<!--Этот шаблон почти идентичен странице профайла, но в нём показывается только один пост.-->

{% extends "base.html" %}
{% block title %}Запись пользователя{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="h2">
                        <!-- Имя автора -->
                        {{ profile_user.first_name }} {{ profile_user.last_name }}
                    </div>
                    <div class="h3 text-muted">
                        <!-- username автора -->
                        @{{ profile_user.username }}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            Подписчиков: {{ followers }} <br />
                            Подписан: {{ followings }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            <!--Количество записей -->
                            Записей: {{ posts_count }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <!-- Подключаем блок с постом -->
            {% include "post_item.html" with post=post %}
            <!-- Подключаем комментарии -->
            {% include 'comments.html' %}
        </div>
    </div>
</main>
{% endblock %}