<!--Шаблон страницы профайла-->

<!--Пока что на ней будет отображаться информация об авторе и его посты.-->

<!--Обычно backend-разработчик берет готовый HTML-код либо комбинирует части существующих шаблонов. -->
<!--Сейчас ваша задача — превратить статичный HTML-код в динамический шаблон.-->

<!--В этом фрагменте HTML-кода выводятся посты определённого пользователя и информация о нём. -->
<!--Этот блок content должен встраиваться в базовый шаблон base.html -->
<!--{# {% extends "file_name.html" %} #} -->

<!--Комментарии в коде показывают, где статические данные нужно заменить на переменные.-->

{% extends "base.html" %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="h2">
                        <!-- Имя автора -->
                        {{ profile_user.first_name }} {{ profile_user.last_name }}
                    </div>
                    <div class="h3 text-muted">
                        <!-- username автора -->
                        @{{ profile_user.username }}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            Подписчиков: XXX <br />
                            Подписан: XXX
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            <!-- Количество записей -->
                            Записей: {{ posts_count }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <!-- Начало блока с отдельным постом -->
            {% for post in page %}
            <div class="card mb-3 mt-1 shadow-sm">
                {% load thumbnail %}
                {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                    <img class="card-img" src="{{ im.url }}">
                {% endthumbnail %}
                <div class="card-body">
                    <p class="card-text">
                        <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                        <a href="/{{ post.author.username }}/">
                            <strong class="d-block text-gray-dark">@{{ post.author.username }}</strong>
                        </a>
                        <!-- Текст поста -->
                        {{ post.text }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group ">
                            <!-- Ссылка на страницу записи в атрибуте href-->
                            <a class="btn btn-sm text-muted" href="/{{ profile_user.username }}/{{ post.id }}/"
                               role="button">Добавить комментарий</a>

                            {% if user == post.author %}
                                <!-- Ссылка на редактирование, показывается только автору записи -->
                                <a class="btn btn-sm text-muted" href="/{{ profile_user.username }}/{{ post.id }}/edit"
                                   role="button">Редактировать</a>
                            {% endif %}

                        </div>
                        <!-- Дата публикации  -->
                        <small class="text-muted">{{ post.pub_date }}</small>
                    </div>
                </div>
            </div>
            <!-- Конец блока с отдельным постом -->
            {% endfor %}
            <!-- Остальные посты -->

            <!-- Здесь постраничная навигация паджинатора -->
            {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}