<div class="card mb-3 mt-1 shadow-sm">

    <!-- Отображение картинки -->
    {% load thumbnail %}
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img" src="{{ im.url }}" />
    {% endthumbnail %}

    <!-- Отображение текста поста -->
    <div class="card-body">
        <p class="card-text">
            <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки через @ -->
            <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
                <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
            </a>
            <!-- Текст поста -->
            {{ post.text|linebreaksbr }}
        </p>

        <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
        {% if post.group %}
            <a class="card-link muted" href="{% url 'group' post.group.slug %}">
                <strong class="d-block text-gray-dark">🚨 {{ post.group.title }}</strong>
            </a>
        {% endif %}

        <!-- Отображение ссылки на комментарии -->
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group ">
                <!-- Ссылка на страницу записи в атрибуте href-->
                <a class="btn btn-sm text-muted" href="{% url 'post' post.author.username post.id %}" role="button">
                    {% if post.comments.exists %}
                        {{ post.comments.count }} комментариев
                    {% else%}
                        Добавить комментарий
                    {% endif %}
                </a>

                <!-- Ссылка на редактирование, показывается только автору записи -->
                 {% if user == post.author %}
                 <a class="btn btn-sm text-muted" href="{% url 'post_edit' post.author.username post.id %}"
                        role="button">
                        Редактировать
                 </a>
                {% endif %}
            </div>

            <!-- Дата публикации поста -->
            <small class="text-muted">{{ post.pub_date }}</small>
        </div>
    </div>
</div>